<%#= @responseview %>
<html>
  <head>
    <title>Testing Leankit connection class</title>
  </head>
  <body>
    <h1>Get Leakit board details</h1>
    This Ruby on Rails application lets you read data from text fields.
    <br>
    <form action = "/board/show" >
      Please enter Board ID.
      <br>
      <input type="text" name="boardId">
      <br>
      <br>
      <input type="submit"/>
    </form>
  </body>
</html>
