<%#= @responseview %>
<html>
  <head>
    <title>Testing Leankit Card class</title>
  </head>
  <body>
    <h1>Get Leakit cards details</h1>
    This Ruby on Rails application lets you read data from text fields.
    <br>
    <form action = "/cards/show" >
      Please enter Card ID.
      <br>
      <input type="text" name="cardsId">
      <br>
      <br>
      <input type="submit"/>
    </form>
  </body>
</html>
